body {
    background-image: url('images/ropeBackground2'); 
    background-attachment: fixed; 
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}
* {
    box-sizing: border-box;
}
.left {
    background-color: aquamarine;
    padding: 20px;
    float: left;
    width: 20%; /* width is 20% by default */
}
.middle {
    background-color: sandybrown;
    padding: 20px;
    float: left;
    width: 60%; /* width is 60% by default */
}
.right {
    background-color: darkorange;
    padding: 20px;
    float: left;
    width: 20%; /* width is 20% by default */
}
/* Use a media query to add a break point at 800px */
@media screen and (max-width: 1000px) {
    .left, .main, .right {
        width: 100% /* width is 100% when the viewport is 800px or smaller ?? */
    }
}
.square {
    background-color: rgb(249, 249, 240);
    width: 33.3%; /* width is 33.3% by default */
    padding-top: 33.3%;
    float: left;
}
.square2 {
    background-color: rgb(194, 192, 188);
    width: 33.3%; /* width is 33.3% by default */
    padding-top: 33.3%;
    float: left;
}

.header {
    background-color: rgb(247, 244, 238);
    padding: 1px;
    color: rgb(135, 127, 111);
    margin: 0px;
    text-align: center;
    font-size: 2.3vw;    
}
#navbar {
    overflow: hidden;
    background-color: #fdfdfd;
}
#navbar a {
    display: block;
    color: rgb(141, 133, 109);
    text-align: center;
    padding: 14px;
    text-decoration: none;
    float: left;
}
#navbar a:hover {
    background-color: #f2ede4;
    color: rgb(70, 65, 50);
}

/* Page content */
.content {
    padding: 16px;
}
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 200px;
}
p {
    color: #90897c;
}
.section {
    background-color: rgb(247, 244, 238);
    padding: 1px;
    color: rgb(135, 127, 111);
    margin: 0px;
    text-align: center;
    font-size: 1.8vw;  
}
/* Use a media query to add a break point at 800px */
@media screen and (max-width: 800px) {
    .square1, .square2, .square3 {
        width: 100% /* width is 100% when the viewport is 800px or smaller ?? */
    }
}