body {
    background-image: url('images/ropeBackground2'); 
    background-attachment: fixed; 
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}
* {
    box-sizing: border-box;
}
.left {
    background-color: aquamarine;
    padding: 20px;
    float: left;
    width: 20%; /* width is 20% by default */
}
.main {
    background-color: sandybrown;
    padding: 20px;
    float: left;
    width: 60%; /* width is 60% by default */
}
.right {
    background-color: darkorange;
    padding: 20px;
    float: left;
    width: 20%; /* width is 20% by default */
}
/* Use a media query to add a break point at 800px */
@media screen and (max-width: 1000px) {
    .left, .main, .right {
        width: 100% /* width is 100% when the viewport is 800px or smaller ?? */
    }
}

header {
    background-color: white;
    padding: 10px;
    color: rgb(117, 106, 83);
    margin: 0px;
    text-align: center;
    text-size-adjust: 400%;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fdfdfd;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: rgb(141, 133, 109);
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #f2ede4;
    color: rgb(70, 65, 50);
  }